a {
  text-decoration: none;
  color: inherit;
}


h1 {
	font-family: 'Oxygen', sans-serif;
	padding: 15px 90px;
	background-color: white;
	text-align: center;
	border-radius: 3px;
	opacity: 0.9;
	box-shadow: 1px 1px 12px #555;
}

.navperso {

	background-color: rgba(170, 0, 0, 0.8);
	color: white;

}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.form-group {

	navbar:left
}

.navbar-default .navbar-brand {
	color: white;
}

.inline {
	display: inline-block;
}

.visuel {
	display: inline-block;
	padding: 40px;
}

.espace {
	padding: 0px 20px;
}

.tel {

	font-family: 'Oxygen', sans-serif;
	font-size: 30px;
	color: black;
}

.mail {
	text-decoration: none;
}

.icone {
	font-size: 50px;
	color: white;
}

.titre {
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
opacity: 0.8;
}

#header {
	box-shadow: 10px 10px 30px #555;
	text-align: center;
	display: inline-block;
	width: 100%;
}

#noel-2014 {
	text-align: left;
	font-family: 'Lobster Two';
	font-size: 60px;
	color:red;
	border-color: #555;
	text-shadow: 1px 1px 12px #555;
}

#affiche1 {
text-align: center;

}

#preparer {
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	color: yellow;
}

#logo {
	border-radius: 30px;
	padding: 10px;
}

#tous-nos-spectacles {
	font-family: 'Oxygen', sans-serif;
	font-size: 22px;
	text-align: center;
	background-color: white;
	border-radius: 3px;
	opacity: 0.9;
	box-shadow: 1px 1px 12px #555;
	text-align: center;
}

footer {
	text-align: center;

}


